.aboutcontainer {
    margin-bottom: 0;
    height: 100%;
    width: 90.25vw;
    margin-right: 0;
    background-color: #f6feff;
    background: #076585; /*fallback for old browsers*/
    background: -webkit-linear-gradient(to right, #fff, #076585);
    background: linear-gradient(to right, #fff, #076585);
    overflow-x: hidden;
    margin-left: 0;
}

h1 {
    font-family: 'Molle', cursive;
    /*color: CornflowerBlue;*/
    color: black;
}


p {
    color: DimGrey;
}

.padding {
    padding: 80px 0;
}

.aboutcontainer.about_section .about_img img {
    max-width: 100%;
    border-radius: 15px;
    box-shadow: 0 16px 28px 0 rgba(8, 56, 103, .5);
}




/*About section styling*/

@media (min-width: 992px) {
    .about_section .about_img img {
        width: 60%;
    }

    .about_section .about_img_2 {
        margin: -180px 0 0 270px;
    }

    .about_section .about_img_3 {
        margin: -260px 0 0 40px;
    }
}

@media (max-width: 991px) {
    .about_section .about_img img {
        margin: 3rem 0;
    }
}

.about_section .content {
    background-color: white;
    border-radius: 35px;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    color: black;
}
