@{ ViewBag.Title = "About"; }



<head>
    <link rel="stylesheet" href="~/Content/about.css" />
</head>
<div class="aboutcontainer ">
    <section class="about_section padding ">
        <div class="container">
            <div class="row justify-content-center align-items-center">
                <div class="content col-12 col-lg-5 p-4 m-3" style="background-color:cadetblue">
                    <div class="text-center ">
                        <h1>About Us</h1>
                        <p class="mb-5">
                            Lorem ipsum dolor sit amet consectetur adipisicing elit. Ipsa minus cupiditate aliquid rerum est voluptate exercitationem possimus aperiam laborum praesentium provident aut illo consequatur quam explicabo quidem similique, consequuntur cumque.

                            Lorem ipsum dolor sit amet consectetur adipisicing elit. Ipsa minus cupiditate aliquid rerum est voluptate exercitationem possimus aperiam laborum praesentium provident aut illo consequatur quam explicabo quidem similique, consequuntur cumque.
                        </p>
                    </div>
                </div>
                <div class="col-12 col-lg-6">
                    <div class="about_img">
                        <img src="https://www.jellypir.at/CODEPEN/picture/autre/squaejell_1.jpg" alt="idea-images" class="about_img_1">
                        <img src="https://www.jellypir.at/CODEPEN/picture/autre/squaejell_2.jpg" alt="idea-images" class="about_img_2">
                        <img src="https://www.jellypir.at/CODEPEN/picture/autre/squaejell_3.jpg" alt="idea-images" class="about_img_3">
                    </div>
                </div>
            </div>
        </div>
    </section>

</div>
