@{
    ViewBag.Title = "Home";
}


<head>
    <link href="~/Content/Site.css" />
</head>


<div class="video-container">
    <video autoplay muted loop playsinline>
        <source src="https://cdn.livecanvas.com/media/nature/video.mp4" type="video/mp4">
    </video>
    <div class="content">
        <div class="text-center">
            <div class="lc-block mb-4">
                <div editable="rich">
                    <h1 class="display-1 fw-bolder">Welcome to my Application</h1>
                </div>
            </div>

            <div class="lc-block mb-4">
                <div editable="rich">
                    <p class="lead">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin faucibus porttitor dui.</p>
                    <p class="lead">Sim in vestibulum metus pulvinar sit amet.</p>
                </div>
            </div>

            <div class="lc-block">
                <svg onclick="this.closest('div').nextElementSibling.scrollIntoView({ behavior: 'smooth' });" width="4em" height="4em" viewBox="0 0 16 16" class="svg-icon" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                    <path fill-rule="evenodd" d="M8 15A7 7 0 1 0 8 1a7 7 0 0 0 0 14zm0 1A8 8 0 1 0 8 0a8 8 0 0 0 0 16z"></path>
                    <path fill-rule="evenodd" d="M8 4a.5.5 0 0 1 .5.5v5.793l2.146-2.147a.5.5 0 0 1 .708.708l-3 3a.5.5 0 0 1-.708 0l-3-3a.5.5 0 1 1 .708-.708L7.5 10.293V4.5A.5.5 0 0 1 8 4z"></path>
                </svg>
            </div>
        </div>
    </div>
</div>


<div class="article-list">
    <div class="container-fluid">
        <div class="intro">
            <h2 class="text-center">Latest Articles</h2>
            <p class="text-center">Nunc luctus in metus eget fringilla. Aliquam sed justo ligula. Vestibulum nibh erat, pellentesque ut laoreet vitae. </p>
        </div>
        <div class="row articles">
            <div class="col-sm-6 col-md-4 item">
                <a href="#"><img class="img-fluid" src="https://www.jellypir.at/CODEPEN/picture/autre/squaejell_1.jpg"></a>
                <h3 class="name">Article Title</h3>
                <p class="description">Aenean tortor est, vulputate quis leo in, vehicula rhoncus lacus. Praesent aliquam in tellus eu gravida. Aliquam varius finibus est, interdum justo suscipit id.</p><a href="#" class="action"><i class="fa fa-arrow-circle-right"></i></a>
            </div>
            <div class="col-sm-6 col-md-4 item">
                <a href="#"><img class="img-fluid" src="https://www.jellypir.at/CODEPEN/picture/autre/squaejell_1.jpg"></a>
                <h3 class="name">Article Title</h3>
                <p class="description">Aenean tortor est, vulputate quis leo in, vehicula rhoncus lacus. Praesent aliquam in tellus eu gravida. Aliquam varius finibus est, interdum justo suscipit id.</p><a href="#" class="action"><i class="fa fa-arrow-circle-right"></i></a>
            </div>
            <div class="col-sm-6 col-md-4 item">
                <a href="#"><img class="img-fluid" src="https://www.jellypir.at/CODEPEN/picture/autre/squaejell_1.jpg"></a>
                <h3 class="name">Article Title</h3>
                <p class="description">Aenean tortor est, vulputate quis leo in, vehicula rhoncus lacus. Praesent aliquam in tellus eu gravida. Aliquam varius finibus est, interdum justo suscipit id.</p><a href="#" class="action"><i class="fa fa-arrow-circle-right"></i></a>
            </div>
        </div>
    </div>
</div>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.1.3/js/bootstrap.bundle.min.js"></script>

<section class="py-lg-8 py-6">
    <div class="container py-lg-8">
        <!--row-->
        <div class="row align-items-center">
            <div class="offset-xl-1 col-xl-4 col-lg-6 d-none d-lg-block">
                <!--img-->
                <div class="position-relative">
                    <img src="~/image1.jpg" alt="mentor img" class="img-fluid w-100 rounded-4" style="width:400px">

                    @*<img src="../assets/images/mentor/schedule.svg" alt="schedule" class="position-absolute top-50 start-100 translate-middle mt-n8 d-xl-block d-none">
                        <img src="../assets/images/mentor/verify.svg" alt="verify" class="position-absolute top-50 start-0 translate-middle mt-n2 d-xl-block d-none">

                        <img src="../assets/images/mentor/card.svg" alt="card" class="position-absolute top-50 start-0 translate-middle mt-8 d-xl-block d-none">*@
                </div>
            </div>
            <div class="col-xl-6 col-lg-5 offset-lg-1 offset-xl-1">
                <div class="d-flex flex-column gap-6">
                    <div class="d-flex flex-column gap-2">
                        <!--heading-->
                        <h2 class="mb-0 h1">Sign Up To Share Your Knowledge</h2>
                        <!--para-->
                        <p class="mb-0 fs-5">Follow these three simple steps to get started with Long Term Mentorship</p>
                    </div>
                    <div class="d-flex flex-column gap-8">
                        <div class="d-flex flex-column gap-5">
                            <div class="row gap-xxl-3 gap-0">
                                <div class="col-md-1 col-lg-2 col-xxl-1 col-2">
                                    <!--svg-->
                                    <div class="icon-shape icon-lg bg-danger-subtle rounded-4">
                                        <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="currentColor" class="bi bi-bullseye text-danger" viewBox="0 0 16 16">
                                            <path d="M8 15A7 7 0 1 1 8 1a7 7 0 0 1 0 14m0 1A8 8 0 1 0 8 0a8 8 0 0 0 0 16"></path>
                                            <path d="M8 13A5 5 0 1 1 8 3a5 5 0 0 1 0 10m0 1A6 6 0 1 0 8 2a6 6 0 0 0 0 12"></path>
                                            <path d="M8 11a3 3 0 1 1 0-6 3 3 0 0 1 0 6m0 1a4 4 0 1 0 0-8 4 4 0 0 0 0 8"></path>
                                            <path d="M9.5 8a1.5 1.5 0 1 1-3 0 1.5 1.5 0 0 1 3 0"></path>
                                        </svg>
                                    </div>
                                </div>
                                <!--text-->
                                <div class="col-md-6 col-lg-10 col-xxl-6 col-10">
                                    <h4 class="mb-0">You've invested a lot of time to learn your skill, craft, or expertise</h4>
                                </div>
                            </div>
                            <div class="row gap-xxl-3">
                                <div class="col-md-1 col-lg-2 col-xxl-1 col-2">
                                    <!--svg-->
                                    <div class="icon-shape icon-lg bg-warning-subtle rounded-4">
                                        <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="currentColor" class="bi bi-cash-stack text-warning" viewBox="0 0 16 16">
                                            <path d="M1 3a1 1 0 0 1 1-1h12a1 1 0 0 1 1 1zm7 8a2 2 0 1 0 0-4 2 2 0 0 0 0 4"></path>
                                            <path d="M0 5a1 1 0 0 1 1-1h14a1 1 0 0 1 1 1v8a1 1 0 0 1-1 1H1a1 1 0 0 1-1-1zm3 0a2 2 0 0 1-2 2v4a2 2 0 0 1 2 2h10a2 2 0 0 1 2-2V7a2 2 0 0 1-2-2z"></path>
                                        </svg>
                                    </div>
                                </div>
                                <!--text-->
                                <div class="col-md-6 col-lg-10 col-xxl-6 col-10">
                                    <h4 class="mb-0">Get paid for talking about the things you already know and love</h4>
                                </div>
                            </div>
                            <div class="row gap-xxl-3">
                                <div class="col-md-1 col-lg-2 col-xxl-1 col-2">
                                    <!--svg-->
                                    <div class="icon-shape icon-lg bg-success-subtle rounded-4">
                                        <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="currentColor" class="bi bi-calendar-check text-success" viewBox="0 0 16 16">
                                            <path d="M10.854 7.146a.5.5 0 0 1 0 .708l-3 3a.5.5 0 0 1-.708 0l-1.5-1.5a.5.5 0 1 1 .708-.708L7.5 9.793l2.646-2.647a.5.5 0 0 1 .708 0"></path>
                                            <path d="M3.5 0a.5.5 0 0 1 .5.5V1h8V.5a.5.5 0 0 1 1 0V1h1a2 2 0 0 1 2 2v11a2 2 0 0 1-2 2H2a2 2 0 0 1-2-2V3a2 2 0 0 1 2-2h1V.5a.5.5 0 0 1 .5-.5M1 4v10a1 1 0 0 0 1 1h12a1 1 0 0 0 1-1V4z"></path>
                                        </svg>
                                    </div>
                                </div>
                                <!--text-->
                                <div class="col-md-6 col-lg-10 col-xxl-6 col-10">
                                    <h4 class="mb-0">Set your own availability and meet on your time</h4>
                                </div>
                            </div>
                        </div>
                        <div>
                            <a href="#!" class="btn btn-primary">Become a mentor</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
